/* Footer.css */

footer {
    background-color: #f9f9f9; /* Fondo negro */
    color: black; /* Letras azules francia o oscuro */
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    font-size: 14px;
  }
  
  sup {
    font-size: 10px; /* Tamaño más pequeño para el superíndice */
    vertical-align: top; /* Alinear en la parte superior */
  }

