#img-row {
    width: 50px;
}

.table-button-1 {
    margin: 5px 5px;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

    .table-button-1:hover {
        background:  rgb(26, 206, 26);
        color: #f9f9f9;
        box-shadow: 
        0 0 5px #f7f7f7,
        0 0 5px #f7f7f7,
        0 0 5px #f7f7f7,
        0 0 15px #f7f7f7;
    }

.table-button-2 {
    margin: 5px 5px;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

    .table-button-2:hover {
        background: rgb(251, 60, 60);
        color: #f9f9f9;
        box-shadow: 
        0 0 5px #f7f7f7,
        0 0 5px #f7f7f7,
        0 0 5px #f7f7f7,
        0 0 15px #f7f7f7; 

    }

